@import "../../styles/normalize.css"
@import "../../styles/skeleton"
@import url("https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic");

// Variables
bg-purple    = #f5eff8
bg-blue      = #ebf5fc
bg-turqouise = #ecfcf9
bg-yellow    = #fdf6db
bg-orange    = #fdf2df
bg-pink      = #fef1f6
bg-white     = #fff
bg-off-white = #f3f7fa

bg = bg-off-white
body-font = "Lora", Helvetica, Arial, sans-serif
header-font = "Lora", Helvetica, Arial, sans-serif
text-color = #6d7779

body
  background bg
  color text-color
  font-weight 400
  font-family body-font

a
  color text-color

#app
  margin 5rem auto 0
  
.wrapper
  @extends .container
  @extends .container:after
  max-width 600px
  
.info-name:after,
.info-meta:after,
.education:after,
.picture:after,
.professional:after,
.projects:after,
.skills:after,
.summary:after
  @extends .row:after

section
  margin-bottom 6rem
  .summary
    &:last-child
      margin 0
  .tech
    font-style italic
    opacity 0.6
  
.section-head
  font-size 2rem
  line-height 1
  font-weight 700
  font-family header-font
  // text-transform uppercase
  letter-spacing 0
  border-bottom 1px solid
  padding-bottom 1rem
  color text-color

.section-sub-head
  margin-bottom 1rem
  .position
    font-style italic
    opacity 0.6

.professional-dates
  font-size 1.1rem
  display block
  color #aaa
  @media (min-width 550px)
    float right
    position relative
    top 2px

.education-dates
  font-size 1.1rem
  display block
  color #aaa

h1
  font-weight 700
  font-size 3.8rem
  font-family body-font
  margin-bottom 0.3rem
  border-bottom 1px solid
  
.highlights
  font-size: 1.3rem
  margin -1rem 0 4rem 3rem
  list-style-position outside
  li:last-child,
  &:last-child
    margin-bottom 0

.comma-list
  text-align right
  span:after
    content ','
  span:last-child:after
    content ''

// Tables
table
  @extends .u-full-width
  margin -15px 0 0 0
  &.small
    font-size 1.3rem
  td
    border-bottom: 1px solid rgba(0,0,0,0.08)

.info-meta
  .location
    @extends .columns
    @extends .columns:first-child
    @extends .eight.columns
    .contact
      display block
  .social
    @extends .columns
    @extends .four.columns
    @media (min-width 550px)
      text-align right
      a
        display block

.picture-wrap
  text-align center
  color #999
  font-style italic
  
.image-wrap img
  max-width 160px
  border-radius 100%
  margin auto
  display block
  border 1px solid #999
  opacity 0.85

.education table td
  vertical-align top
  @media (min-width 550px)
    vertical-align bottom
