@import "../../styles/normalize.css"
@import "../../styles/skeleton"
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic");

// Variables
bg-purple    = #f5eff8
bg-blue      = #ebf5fc
bg-turqouise = #ecfcf9
bg-yellow    = #fdf6db
bg-orange    = #fdf2df
bg-pink      = #fef1f6
bg-white     = #fff
bg-off-white = #f8f8f8

bg = bg-blue

body
  background bg
  color #555
  font-weight 400
  font-family "Open Sans", Helvetica, Arial, sans-serif

a
  color #555

#app
  margin 5rem auto 0
  
.wrapper
  @extends .container
  max-width 600px
  
.info-name:after,
.info-meta:after,
.education:after,
.picture:after,
.professional:after,
.projects:after,
.skills:after,
.summary:after
  @extends .row:after

section
  margin-bottom 6rem
  .summary
    &:last-child
      margin 0
  
.section-head
  font-size 2rem
  line-height 1
  font-weight 400
  font-family "Montserrat", Helvetica, Arial, sans-serif
  text-transform uppercase
  letter-spacing 0

.section-sub-head
  margin-bottom 1rem
  .position
    font-style italic
    opacity 0.6
  .dates
    font-size 1.4rem
    float right

h1
  font-weight 300
  font-size 3.8rem
  font-family "Montserrat"
  margin-bottom 0.3rem
  
.highlights
  font-size: 1.3rem
  margin -1rem 0 4rem 3rem
  list-style-position outside
  li:last-child,
  &:last-child
    margin-bottom 0

.comma-list
  text-align right
  span:after
    content ','
  span:last-child:after
    content ''

// Tables
table
  @extends .u-full-width
  margin -15px 0 0 0
  &.small
    font-size 1.3rem
  td
    border-bottom: 1px solid #666

.info-meta
  .location
    @extends .columns
    @extends .columns:first-child
    @extends .eight.columns
    .email
      display block
  .social
    @extends .columns
    @extends .four.columns
    text-align right
    a
      display block

.picture-wrap
  text-align center
  color #777
  font-style italic
  
.image-wrap img
  max-width 160px
  border-radius 100%
  margin auto
  display block
  border 1px solid #999

// Helpers
.u-text-right
  text-align right