<div class="wrapper">
  {{> ../../partials/info }}
  {{> ../../partials/skills }}
  {{> ../../partials/professional }}
  {{> ../../partials/projects }}
  {{> ../../partials/education }}
  {{> ../../partials/summary }}
  {{> ../../partials/picture }}
</div>
