<section class="picture-wrap">
  <div class="picture">
    <div class="picture-wrap">
      <img alt="{{basics.name}}" class="picture-image" src="{{basics.picture}}" />
      <caption>Thanks!</caption>
    </div>
  </div>
</section>