<section class="picture-wrap">
  <div class="picture">
    <div class="image-wrap">
      <img alt="{{basics.name}}" src="{{basics.picture}}" />
      <div class="note">Thanks!</note>
    </div>
  </div>
</section>