<section class="skills-wrap">
  <div class="skills">
    <h2 class="section-head">Technical Skills</h2>
    <table>
      <tbody>
        {{#each skills}}
        <tr>
          <td>{{this.level}}</td>
          <td>
            <div class="comma-list">
            {{#each this.keywords}}
              <span>{{this}}</span>
            {{/each}}
            </div>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>