<section>
  <div class="row">
    <h2 class="section-head">Technical Skills</h2>
    <table class="u-full-width">
      <tbody>
        {{#each skills}}
        <tr>
          <td>{{this.level}}</td>
          <td class="u-text-right">
            <div class="comma-list">
            {{#each this.keywords}}
              <span>{{this}}</span>
            {{/each}}
            </div>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>