@import "../../styles/normalize.css"
@import "../../styles/skeleton"
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic");

// Variables
bg-purple    = #f5eff8
bg-blue      = #ebf5fc
bg-turqouise = #ecfcf9
bg-yellow    = #fdf6db
bg-orange    = #fdf2df
bg-pink      = #fef1f6
bg-white     = #fff
bg-off-white = #f3f7fa

bg = bg-off-white

body
  background bg
  color #555
  font-weight 400
  font-family "Open Sans", Helvetica, Arial, sans-serif

a
  color #555

#app
  margin 5rem auto
  
.wrapper
  @extends .container
  @extends .container:after

.sidebar
  @extends .columns
  @extends .columns:first-child
  @extends .four.columns

.main
  @extends .columns
  @extends .eight.columns

img
  max-width 100%

section
  background #fff
  padding 3rem 3rem 2rem
  margin-bottom 2rem
  border-radius 2px
  border 1px solid #ddd

.picture-wrap
  margin-bottom 0
  border-bottom none
  padding-bottom 0
  border-bottom-right-radius 0
  border-bottom-left-radius 0
  img
    border 1px solid #ddd
    border-radius 2px
  .note
    display none

.section-head
  font-size 1.3rem
  border-bottom 1px solid #ddd
  margin 0 -3rem 2rem
  padding 0 3rem 2.4rem
  font-weight 400
  font-family "Montserrat", Helvetica, Arial, sans-serif
  text-transform uppercase
  letter-spacing 1px

.section-sub-head
  margin-bottom 1rem
  .position
    font-style italic
    opacity 0.6

.professional-dates
  font-size 1.1rem
  display block
  color #aaa
  @media (min-width 550px)
    float right
    position relative
    top 2px

.comma-list
  text-align right
  margin-left 0.5rem
  span:after
    content ','
  span:last-child:after
    content ''

.highlights
  font-size: 1.3rem
  margin -1rem 0 4rem 3rem
  list-style-position outside
  li:last-child,
  &:last-child
    margin-bottom 0

.info-wrap
  border-top none
  border-top-right-radius 0
  border-top-left-radius 0
  padding-top 2rem
  h1
    font-size 2.6rem
    font-weight 300
    letter-spacing 0.03rem
  .region
    display block
    border-bottom 1px solid #ddd
    padding-bottom 2rem
    margin-bottom 2rem
  .social a
    display inline-block
    margin-right 1rem

table
  @extends .u-full-width
  td
    border-bottom 1px dashed #ddd
