<div class="wrapper">
  <div class="sidebar">
    {{> ../../partials/picture }}
    {{> ../../partials/info }}
  </div>
  <div class="main">
    {{> ../../partials/skills }}
    {{> ../../partials/summary }}
    {{> ../../partials/professional }}
    {{> ../../partials/projects }}
    {{> ../../partials/education }}
  </div>
</div>
